.about {
  box-sizing: border-box;

  &__title {
    font-family: 'Forum';
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    padding: 1rem;
    margin: 0;
    background-color: rgb(255, 252, 247);

    img {
      vertical-align: middle;
    }
  }

  &__image {
    padding: 1rem;
    width: 500px;

    &-box {
      background-color: rgb(255, 252, 247);
    }
  }

  @media (max-width: 700px) {
    &__image {
      width: 300px;
    }
  }
}
